body {
  background-color: #BBB;
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
  padding: 0;
}

.main-container {
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  max-width: 600px;
  padding: 12px;
  background-color: #DDD;
  box-shadow: 5px 5px 5px #888;
  perspective: 1000;
  -webkit-perspective: 1000;
}

h1 {
  width: 100%;
  text-align: center;
}

@keyframes float {
	0% {
		transform: scale(1.0);
    -webkit-filter: drop-shadow(15px 11px 10px #222) drop-shadow(-30px -20px 12px #FFFFFF);
    filter: drop-shadow(15px 11px 10px #222) drop-shadow(-30px -20px 12px #FFFFFF);
	}
	50% {
		transform: scale(1.04);
    -webkit-filter: drop-shadow(20px 25px 18px #222) drop-shadow(-30px -20px 12px #FFFFFF);
    filter: drop-shadow(20px 25px 18px #222) drop-shadow(-30px -20px 12px #FFFFFF);
	}
	100% {
		transform: scale(1.0);
    -webkit-filter: drop-shadow(15px 11px 10px #222) drop-shadow(-30px -20px 12px #FFFFFF);
    filter: drop-shadow(15px 11px 10px #222) drop-shadow(-30px -20px 12px #FFFFFF);
	}
}

img {
  
  transform: translateZ(0px);
	animation: float 2.5s ease-in-out infinite;
}
