body {
  background-color: #BBB;
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
  padding: 0;
}

.main-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  max-width: 600px;
  padding: 12px;
  background-color: #DDD;
  box-shadow: 5px 5px 5px #888;
}

h1 {
  width: 100%;
  text-align: center;
}

@keyframes float {
	0% {
		transform: scale(1.0);
    -webkit-filter: drop-shadow(15px 11px 10px #222) drop-shadow(-30px -20px 12px #FFFFFF);
    filter: drop-shadow(15px 11px 10px #222) drop-shadow(-30px -20px 12px #FFFFFF);
	}
	50% {
		transform: scale(1.04);
    -webkit-filter: drop-shadow(20px 25px 18px #222) drop-shadow(-30px -20px 12px #FFFFFF);
    filter: drop-shadow(20px 25px 18px #222) drop-shadow(-30px -20px 12px #FFFFFF);
	}
	100% {
		transform: scale(1.0);
    -webkit-filter: drop-shadow(15px 11px 10px #222) drop-shadow(-30px -20px 12px #FFFFFF);
    filter: drop-shadow(15px 11px 10px #222) drop-shadow(-30px -20px 12px #FFFFFF);
	}
}

.image-container {
  width: 100%;
  position: fixed;
  display: block;
  text-align: center;
  z-index: 1;
  margin-top: 110px;
}

img {  
	animation: float 2.5s ease-in-out infinite;
}

code {
  display: block;
  white-space: pre-wrap;
  color: greenyellow;
  background-color: #222;
  border-radius: 10px;
  padding-left: 2%;
  padding-right: 2%;
  text-shadow: 0 0 8px #eee, 0 0 15px #eee, 0 0 25px red, 0 0 30px red, 0 0 45px red, 0 0 60px red;    
  z-index: 2;
}
